header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000000;
  padding: 20px 0;
  border-radius: 30px 30px 0 0;
}

header > div:first-child {
  margin-left: 180px;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
}

header > div:last-child {
  margin-right: 180px;
}

nav button,
header button {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 16px;
}

nav button:first-child,
header > div:last-child button {
  background: #50A4BE;
  color: #ffffff;
  border-radius: 4px;
  border-radius: 33px;
}


nav button:hover,
header button:hover {
  opacity: 0.85;
}
.banner {
  background: linear-gradient(to right, #000000, #112B3A);
  padding: 80px 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: 745px;
}


.banner-content {
  max-width: 55%;
}


.banner .heading-small {
  font-size: 40px;
  font-weight: bold;
   color: #ffffff !important;
} 
.banner .heading-small span {
  color: #50A4BE;
}

.banner .heading-main  {
  font-size: 58px;
  font-weight: bold;
    color: #ffffff !important;
  margin-top: -56px;
}
.banner .heading-main span {
  color: #50A4BE;
}

.banner .heading-main span {
  color: #50A4BE;
}


.banner .heading-sub {
  font-size: 28px;
  font-weight: bold;
  color: #50A4BE;
      margin-top: -25px;
}


.banner p {
  font-size: 22px;
  color: #ffffff;
  margin: 20px 0;
}


.banner .contact-btn {
  background-color: #50A4BE;
  color: #ffffff;
  font-size: 20px;
  padding: 14px 30px;
  border: none;
  border-radius: 33px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
.main-heading {
  font-size: 44px;
  color: #ffffff;
  font-weight: bold;
  position: relative;
  bottom: 33px;
}

.contact-section{
  background-color:#0F131B;
  padding:80px 180px;
}



.container2{
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:60px;
}


/* LEFT SIDE */
.info-left{
  width:45%;
}

.info-heading{
  font-size:48px;
  color:#ffffff;
  line-height:1.2;
  position: relative;
  top: 235px;
}

.info-highlight{
  color:#50A4BE;
  font-weight:bold;
}

.info-description{
  color:#ffffff;
  font-size:20px;
  margin:25px 0;
  position: relative;
    top: 219px;
}

.info-btn{
  background:#50A4BE;
  color:#ffffff;
  border:none;
  padding:14px 32px;
  border-radius:30px;
  font-size:18px;
  cursor:pointer;
  position: relative;
    top: 223px;
}


/* RIGHT GRID */
.info-right{
  width:55%;
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:30px;
}


/* CARD DESIGN */
.info-card{
  width:340px;
  height:350px;
  background:rgba(80,164,190,0.15);
  border:1px solid #50A4BE;
  border-radius:20px;
  box-shadow:0 0 40px rgba(80,164,190,0.4);

  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  text-align:center;
  padding:30px;
}


/* ICON */
.info-card-icon{
  width:70px;
  height:70px;
  margin-bottom:20px;
}

.info-card-icon img{
  width:100%;
  height:100%;
  object-fit:contain;
}


/* TEXT */
.info-card-title{
  color:#ffffff;
  font-size:22px;
  margin-bottom:10px;
}

.info-card-text{
  color:#ffffff;
  font-size:16px;
  line-height:1.5;
}


/* ====== UP DOWN EFFECT ====== */
.card-1{
  margin-top:60px;
}

.card-2{
  margin-top:120px;
}

.card-3{
      margin-top: -57px;
}

.card-4{
  margin-top: 0px;
}

.stats-section { 
  background: linear-gradient(#000000, #112938);
   padding: 80px 0; 
}

.stats-container {
  display: flex;
  justify-content: space-between;
  margin-left: 180px;
  margin-right: 180px;
  bottom: 25px;
      position: relative;
}

.stat-box {
  text-align: center;
  padding: 30px 20px;
  color: #ffffff;
}

.stat-box h2 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 10px;
}

.stat-box p {
  font-size: 32px;
  margin: 0;
}
.center-heading {
  text-align: center;  
  margin-bottom: 60px; 
}

.center-heading h2 {
  font-size: 64px;     
  font-weight: bold;   
  color: #ffffff;       
}

.center-heading h2 .about {
  color: #50A4BE;     
}

.center-heading p {
  font-size: 24px;      
  color: #ffffff;       
  margin-top: -39px;     
}

.left-content2 {
  display: flex;
  flex-direction: column; 
  gap: 40px; 
  padding-top: 85px;
}

.left-block h2 {
  font-size: 48px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.left-block p {
  font-size: 22px;
  color: #ffffff;
  margin: 0;
}


.edu-color {
  color: #50A4BE; 
}

.diploma-color {
  color: #50A4BE; 
}


.left-block h2 {
  color: #ffffff;
}
.content-section .content-wrapper {
  display: flex;               
  justify-content: space-between; 
 padding-left: 180px; 
                
}
.content-section {
  background-color: #000000; 
  padding: 80px 0;           
  color: #ffffff;             
}
.right-content {
  display: flex;
  flex-direction: column;
  gap: 40px;              
  margin-left: 180px;      
  margin-right: 180px;    
}
.text-block h4 {
  font-size: 24px;
  color: #ffffff;
  margin: 0 0 10px 0;
}

.big-rect {
  width: 700px;
  height: 10px;
  background-color: #50A4BE;
  border-radius: 10px; 
}


.small-rect {
  width: 55px;
  height: 10px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 10px; 
}
.rect-texts {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 5px; 
}


.rectangle-bar {
  position: relative;
  height: 10px;
  margin-bottom: 10px;
}
.slider-section {
  background: linear-gradient(135deg, #03080B 50%, #1F5271 100%);
  padding-left: 180px;
  padding-right: 180px;
  position: relative;
    top: -40px;
    width: auto;
    height: auto;
    padding-bottom: 62px;
}
.slider-heading {
  text-align: center;
  font-size: 47px;
  font-weight: bold;
  margin-bottom: 0;
  position: relative;
    top: 80px;
}

.slider-heading .successfull {
  color: #ffffff;
}

.slider-heading .projects {
  color: #50A4BE;
  margin-bottom: 0;
}
.slider-buttons button {
 background-color: transparent;
    color: #ffffff;
    font-size: 20px;
    border: none;
    padding: 12px 28px;
    border-radius: 33px;
    cursor: pointer;
    width: auto;
    border: 2px solid #50A4BE;
    display: flex;
  
}
.slider-buttons {
  text-align: center;
  position: relative;
  top: 125px;
}
.slider-buttons button {
  width: auto;     
  display: inline-block;
  gap: 20px;
  width: fit-content;
  margin: 0 10px; 
}
.slider-buttons button:first-child {
  background-color: #50A4BE;
  color: #ffffff;
  border: none;
}
.box-image {
  width: 320px;
  height: 320px;
  border: 2px solid #50A4BE; 
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  position: relative;
    top: 176px;
}

.box-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1;
}
.slider-track {
  display: flex;
  gap: 20px;
  justify-content: center;
    padding-bottom: 190px;
}
button.arrow.right-arrow {
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translateY(-50%);
}
button.arrow.left-arrow {
    position: absolute;
    top: 50%;
    left: 13px;
    transform: translateY(-50%);
}
.slider-box:nth-child(odd) {
  transform: translateY(-20px);
}

.slider-box:nth-child(even) {
  transform: translateY(20px);
}
.slider-wrapper {
  padding-left: 180px;
  padding-right: 180px;
}
.box-image-2 {
    width: 340px;
    height: 340px;
    border: 2px solid #50A4BE;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    position: relative;
    top: 176px;
}
.h3 {
    color: beige;
    text-align: left;
    padding-left: 14px;
    padding-top: 7px;
    font-family: arial;
}
.box-image img-2 {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1;
}
.box-image img-3 {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1;
}
.box-image img-4 {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1;
}
.info-container {
  display: flex;
  align-items: flex-start;
  gap: 60px;
  background-color: #0F131B;
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 0px;
    padding-bottom: 59px;
}

.info-left-content {
  width: 45%;
  margin-top: 25px;
}

.info-main-heading {
  font-size: 44px;
  color: #ffffff;
  font-weight: bold;
  
}

.info-main-heading .info-highlight {
  font-size: 48px;
  color: #50A4BE;
  font-weight: bold;
}

.info-right-boxes {
  width: 55%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  text-align: center;
}

.info-box {
  width: 342px;
  height: 354px;
  background-color: rgba(80, 164, 190, 0.38);
  border: 1px solid #50A4BE;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 0 40px rgba(80, 164, 190, 0.38);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-box-1 { margin-top: 89px; }
.info-box-2 { margin-top: 158px; }
.info-box-3 { margin-bottom: 81px; }

.info-icon {
  width: 70px;
  height: 70px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
    bottom: 54px;
}
.mid1 h3 {
    color: white;
    text-align: center;
    padding-left: 14px;
    padding-top: 7px;
    font-family: arial;
    position: relative;
    bottom: 65px;
}
.mid1 p {
    color: white;
    text-align: center;
    padding-left: 17px;
    position: relative;
    bottom: 16px;
}

.box1 p {
    color: white;
    text-align: left;
    padding-left: 17px;
    position: relative;
    bottom: 16px;
}
.box1 {
    background: #50a4be8c;
    /* z-index: 1; */
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: relative;
    top: 90px;
    height: 15%;
}
.box1 h3{
    color:white;
    padding-left: 11px;
}
.box2 p {
    color: white;
    text-align: left;
    padding-left: 17px;
    position: relative;
    bottom: 16px;
}
.box2 {
    background: #50a4be8c;
    /* z-index: 1; */
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: relative;
    top: 96px;
    height: 15%;
}
.box2 h3{
    color:white;
    padding-left: 11px;
}
.box3 p {
    color: white;
    text-align: left;
    padding-left: 17px;
    position: relative;
    bottom: 16px;
}
.box3 {
    background: #50a4be8c;
    /* z-index: 1; */
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: relative;
    top: 90px;
    height: 15%;
}
.box3 h3{
    color:white;
    padding-left: 11px;
}
.box4 p {
    color: white;
    text-align: left;
    padding-left: 17px;
    position: relative;
    bottom: 16px;
}
.box4 {
    background: #50a4be8c;
    /* z-index: 1; */
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: relative;
    top: 90px;
    height: 15%;
}
.box4 h3{
    color:white;
    padding-left: 11px;
}
.box5 p {
    color: white;
    text-align: left;
    padding-left: 17px;
    position: relative;
    bottom: 16px;
}
.box5 {
    background: #50a4be8c;
    /* z-index: 1; */
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: relative;
    top: 96px;
    height: 15%;
}
.box5 h3{
    color:white;
    padding-left: 11px;
}
.arrow {
  font-size: 60px;          
  color: #50A4BE;           
  background: none;         
  border: none;            
  cursor: pointer;
  line-height: 1;
  transition: 0.3s ease;
}


.arrow:hover {
  color: #ffffff;
  transform: translateY(-50%) scale(1.1);
}
.arrow {
  padding: 10px;
}
.left-arrow {
  left: 180px;   
}

.right-arrow {
  right: 180px;  
}
.slider-wrapper {
  position: relative;
}
.ongoing-projects-section {
  padding: 80px 180px;   
  background: linear-gradient(to right, #03080B, #1F5271);
  position: relative;
  top: -40px;
  padding-bottom: 247px;
}
.projects-header {
  text-align: center;
}

.projects-header h2 {
  font-size: 48px;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
}

.projects-header h2 span {
  color: #50A4BE;  
}

.project-left {
  display: flex;
  align-items: center;
}

.project-image {
  width: 650px;             
  height: 504px;
  border-radius: 30px;      
  overflow: hidden;
  border: 2px solid #50A4BE;
  position: relative;
  z-index: 2;
  top: 70px;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-glow-wrapper{
  position: relative;
  display: inline-block;
}
.image-glow{
  position: absolute;
  top: 65%;
  left: 49%;
  transform: translate(-50%, -50%);
  width: 916px;
  height: 791px;
  border-radius: 50%;

  background: radial-gradient(
    ractangle,
    rgba(80,164,190,0.8) 0%,
    rgba(80,164,190,0.4) 40%,
    transparent 70%
  );

  filter: blur(35px);
  z-index: 1;  
}
.project-tags button{
  background: rgba(80,164,190,0.25);
  color: white;
  border: 1px solid #50A4BE;
  border-radius: 30px;
  padding: 6px 14px;
  font-size: 14px;
  backdrop-filter: blur(6px);
  position: relative;
    top: -432px;
    left: 728px;
}
.project-text{
 max-width: 748px;
  position: relative;
    left: 736px;
    top: -432px;
    
    justify-content: space-between;
    align-items: center;
    width: 100%;
     width: fit-content;
     display: inline-block;
}
.project-title{
 color: #fff;
    font-size: 41px;
    font-weight: 700;
    margin-bottom: 10px;
    white-space: nowrap;
}
.project-subtext {
    color: #cfd8dc;
    font-size: 22px;
    line-height: 1.6;
    margin-bottom: 25px;
     width: fit-content;
}
.project-btn{
  background: #50A4BE;
  color: white;
  border: none;
  padding: 12px 28px;
  border-radius: 33px;
  font-size: 18px;
  cursor: pointer;
}

.project-btn:hover{
  opacity: 0.9;
}

.why-choice {
  background-color: #09171F;
  padding: 60px 0;
  color: #ffffff;
  font-family: Arial, sans-serif;
  position: relative;
    bottom: 40px;
}


.why-choice .container {
  display: flex;
    justify-content: space-between;
    padding-left: 180px;
    padding-bottom: 109px;
    align-items: flex-start;
    margin: 0 auto;
    padding-right: 180px;
}


.why-left {
  flex: 1;
}

.why-left h2 {
  font-size: 55px;
  margin-bottom: 30px;
}

.why-left .feature {
  margin-bottom: 30px;
}

.why-left .feature h3 {
  font-size: 30px;
  margin-bottom: 10px;
}

.why-left .feature p {
  font-size: 20px;
  line-height: 1.6;
}


.why-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end; 
  position: relative;
  height: 700px; 
}

.image-rectangle {
  background-color: #50A4BE; 
  width: 613px;
  height: 696px;
  border-radius: 40px;
  position: absolute;
  bottom: 0; 
  left: 46%;
  transform: translateX(-50%);
  z-index: 1; 
  overflow: hidden;
  position: relative;
    top: 80px;
}

.why-image {
  position: absolute;
  top: -80px; 
  left: 50%;
  transform: translateX(-50%);
  width: 500px; 
  height: auto;
  object-fit: cover;
  border-radius: 12px;
  z-index: 2; 
  padding-top: 140px;
  padding-right: 70px;
}
.testimonials {
    background-color: #0B2735;
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 20px;
    position: relative;
    padding-bottom: 100px;
    top: -44px;
    
}

.testimonial-card p {
    font-size: 22px;
    text-align: center;
    padding-bottom: 80px;
    color: white;
    width: 74%;
    margin: auto;
}


.testimonial-card {
    background-color: rgba(80, 164, 190, 0.38); 
    border: 2px solid #50A4BE;
    padding: 147px;
    border-radius: 10px;
    box-shadow: 0 0 20px #50A4BE;
}
.star {
  position: relative;
    left: 1109px;
}
.authorauthor{
  font-size: 30px;
    color: white;
    position: relative;
    left: 126px;
    bottom: 46px;
}
.stars{
 position: relative;
    left: 894px;
    bottom: 55px;
    color: yellow;
    font-size: 25px;
}
.quote-circle {
    width: 120px;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.075);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.281);
    box-shadow: 0 0 15px #50A4BE;

    position: absolute; /* card ke andar float kare */
    top: 33%;            /* vertical center */
    left: 50%;           /* horizontal center */
    transform: translate(-50%, -50%); /* perfectly center */
}
.commy {
  display: flex;
    align-items: center;
    justify-content: center;
    font-size: 207px;
    line-height: 39;
    color: rgba(255, 255, 255, 0.281);
    position: absolute;
    top: 91%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.arrow {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    position: absolute; 
    z-index: 10;
}
.arrow.left {
    left: 214px;
    top: 407px;
}
.arrow.right {
    right: 214px;
    top: 407px;
}
.testimonial-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.test1 {
  color: white;
    font-size: 55px;
    text-align: center;
}
.line {
  position: relative;
    bottom: 51px;
   width: 957px;
}
.contact-section {
  background-color: #09171F;
  padding: 60px 0;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  position: relative;
    top: -44px;
}

.container2 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
}
.container-form {
    display: flex;
    margin: auto;
}
.contact-box {
  display: flex;
  flex-direction: column;
  gap: 30px; /* vertical spacing between items */
  background-color: #50A4BE;
  padding: 30px;
  border-radius: 12px;
  flex: 1;
   width: 400px; /* choti width, adjust karo apne design ke hisaab se */
  max-width: 100%; 
  flex: none;
  height: 82%;
}

/* Each contact item */
.contact-item {
  display: flex;
  align-items: center; /* icon & heading same line */
  gap: 15px; /* spacing between icon and text */
}

.contact-item .icon {
  width: 40px;
  height: 40px;
}

.contact-item .info-text h4 {
  margin: 0;
  font-size: 20px;
}

.contact-item .info-text p {
  margin: 5px 0 0 0;
  font-size: 16px;
  color: #B0C4D1;
}
.contact-form {
  background-color: #0B2735;
  padding: 30px;
  border-radius: 12px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form h2 {
  margin: 0 0 10px 0;
  font-size: 28px;
}

.contact-form p {
  margin: 0 0 20px 0;
  font-size: 16px;
  color: #B0C4D1;
}

/* Form Rows */
.form-row {
  display: flex;
  gap: 20px;
}

.form-row input {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
}

textarea {
  width:96%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  resize: vertical;
}

button {
  background-color: #50A4BE;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background-color: #4290A0;
}
.portfolio h2 {
  font-size: 55px;
  color: white;
}
.footer{
  background-color: #0B2735;
    position: relative;
    bottom: 91px;
}
.portfolio h1 {
  font-size: 26px;
  color: white;
  position: relative;
    bottom: 39px;
}
.portfolio p {
  font-size: 20px;
  color: white;
  position: relative;
    bottom: 47px;
}
.portfolio {

  padding-bottom: 150px;
  padding-top: 31px;
}
.footer {
  padding: 60px 180px;
  background: #111;
  color: white;
}

/* top section */
.footer-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.footer-box h3 {
  margin-bottom: 15px;
}

.footer-box p {
  margin: 5px 0;
  cursor: pointer;
}

/* icons bottom */
.footer-icons {
  display: flex;
  gap: 20px;
}

.footer-icon1 {
  width: 40px;
  height: 40px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.footer-icon2 {
  width: 40px;
  height: 40px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.footer-icon3 {
  width: 40px;
  height: 40px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.footer-box {
  position: relative;
  bottom: 421px;
    
  padding-left: 649px;
}
.footer-box2 {
  position: relative;
    bottom: 562px;
    padding-left: 1202px;
}